
body {
  margin: 0;
  font-family: sans-serif;
  background: url('madera.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* panel arriba */
header {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.5rem;
  color: #333;
}

header p {
  font-size: 22px;
}

/* Main */
main {
  flex: 1;
  background: url('botes.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* caja del texto */
.info-box {
  /*background-color: #e8d6c1; /* marrón arena de mar */
  background-color: rgba(140, 111, 60, 0.8);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* Botón */
.boton-compra {
  display: inline-block;
  margin-top: 1rem;
  background-color: #197112;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.boton-compra:hover {
  background-color: #37c53a;
}

/* Footer pegado abajo */
footer {
  text-align: center;
  padding: 1rem;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  color: #333;
}

.registrado {
  margin-top: 2em;
  font-weight: bold;
  text-align: center;
}

.boton-entrar {
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.6em 1.2em;
  background-color: #197112;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.boton-entrar:hover {
  background-color: #37c53a;
}